appnope==0.1.0
asgiref==3.2.10
attrs==20.2.0
backcall==0.2.0
certifi==2020.6.20
chardet==3.0.4
colorama==0.4.3
coverage==5.3
decorator==4.4.2
Django==3.0.5
djangorestframework==3.12.2
djongo==1.3.3
Faker==0.9.1
idna==2.10
iniconfig==1.1.1
install==1.3.4
ipdb==0.13.4
ipython==7.18.1
ipython-genutils==0.2.0
jedi==0.17.2
mixer==6.1.3
numpy==1.19.2
packaging==20.4
pandas==1.1.3
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
plotly==4.12.0
pluggy==0.13.1
prompt-toolkit==3.0.7
ptyprocess==0.6.0
py==1.9.0
Pygments==2.7.1
pymongo==3.11.0
pyparsing==2.4.7
pytest==6.1.1
pytest-cov==2.10.1
pytest-django==4.1.0
python-dateutil==2.8.1
pytz==2020.1
requests==2.24.0
requests-mock==1.8.0
retrying==1.3.3
selenium==3.141.0
simplefix==1.0.14
six==1.15.0
sqlparse==0.2.4
text-unidecode==1.2
toml==0.10.1
traitlets==5.0.4
urllib3==1.25.10
wcwidth==0.2.5
