<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <h4>STOCK DATA APP</h4>
  <a href="{% url 'index' %}">Home</a>
  <br>
  <body>
    <br>
    <h3 style="color:blue;">{{ data.company_profile.name }} | (ticker: {{ data.company_profile.ticker }})</h3>
    <img src="{{ data.company_profile.logo }}" alt="">
    <form class="" action="{% url 'stockdata' %}">
      <p><b>Peers</b></p>
      {% for symbol in data.peers %}
      <a href="http://localhost:8000/data/?stock_symbol={{symbol}}&debug_mode=false" name='stock_symbol'>{{symbol}}</a>
      {% endfor %}
    </form>
    <br>
    <p><b>Recommendation Trends</b></p>
    {% for key, value in data.recommendation_trends.items %}
    <small><b>{{key.capitalize}}</b>:  {{value}}</small>
    <br>
    {% endfor %}
    <br>
    <form action="{% url 'candelestick' %}">
      <label for="charts">Get chart:</label>
      <input type="text" id="stock_symbol" name="stock_symbol" value="{{ data.company_profile.ticker }}">
      <select name="date" id="charts">
        <option value="1">today</option>
        <option value="7">last week</option>
        <option value="30">last month</option>
        <option value="90">last three months</option>
      </select>
      <br><br>
      <input type="submit" value="Submit">
    </form>
    <br>
  </body>
</html>
